html,
body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

h1 {
  padding-left: 10vw;
}

main {
}

main canvas#board {
  width: 1000px;
  height: 600px;
  
  border: 2px solid teal;
  border-radius: 3px;

  cursor: url('./pencil2.svg'), auto;
}